body {
    margin: 0;
    padding: 0;
    margin: 0;

}

img {
    display: block;
    min-width: 200px;
    max-width: 200px;
    /* min-height: 200px; */
    /* max-height: 200px; */
    width: 200px;
    height: 200px;
}

.container1 {
   display:flex;   

}

.container1 div {
    padding-left: 10px;

}

.container2 {
    display: flex;
}

.narrative1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: rgb(227, 238, 238);
}

.redsanta {
    color: red;
}

