main{
    display: flex;
}


.img1 img {
   color: crimson;
   border: solid;
   width: 155px;
   height: 155px;
}

.img2 img {
    color: crimson;
    border: solid;
    width: 155px;
    height: 155px;
 }

 .img3 img {
    color: crimson;
    border: solid;
    width: 155px;
    height: 155px;
 }